.header
{
    position:sticky;
    top:0px;
    &_navegacion{
        background-color: $color_nav;
        z-index: 3;
        &_icono{
            font-family:$Cinzel;
        }
        icono:hover{
            background-color: blue($color: #470f0f);
        }
        &_ul{
            display: flex;
            justify-content:flex-end;
            @media (max-width: 991px) {
                &{
                  justify-content: flex-start;
                 }
              }
            ul{
                display: inline-flex;
                justify-content: space-around;
                li{
                    color:violet;
                    font-family: $Serif;
                    font-weight:  900;
                }
            }
        }
    }
}