.header
{
    position:sticky;
    top:0px;
    &_navegacion{
        background-color: $color_nav;
        z-index: 3;
        &_icono{
            font-family:$Cinzel;
        }
        icono:hover{
            background-color: blue($color: #470f0f);
        }
        &_navbar{
            display: flex;
            justify-content:flex-end;
            @media (max-width: 991px) {
                &{
                  justify-content: flex-start;
                 }
              }
              ul{
                a{
                    font-family: $Serif;
                    font-weight:600;
                    color:$colo_text_nav;

                }
                padding-right: 15px;
                
                ul{
                    background-color: $color_nav;
                    font-weight: bolder;
                }
              }
        }
    }
}