.main{
    &_introduccion{
        background-color:#E7E7E7;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        &_programas
        {
           padding-left: 1rem;
           padding-right: 1rem;
        }
        .integrantes{
            position: relative;
            top:15px;
            left:10px;

        }
        
    }
}